[Unit]
Description=Consul agent
After=network.target
Documentation=man:consul(1)

[Service]
Type=simple
Environment=GOMAXPROCS=2
EnvironmentFile=/etc/default/consul
ExecStart=/usr/bin/consul agent -config-dir=/etc/consul.d $CONSUL_FLAGS
ExecReload=/bin/kill -HUP $MAINPID
User=consul
Group=consul
Restart=on-failure
RestartSec=10
LimitNOFILE=infinity

[Install]
WantedBy=multi-user.target
